<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>User profile page</title>
</head>
<body>
<div class="container">
	<div class="col-md-8">
	<div class="alert alert-info" role="alert">
	<h1>User profile page</h1>
	<hr>
	<h3>Registration OK!</h3>
	<br>
	<br>
	<p>Bla-bla-bla...</p>
	</div>
	</div>
</div>
</body>
</html>