<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<title>Welcome</title>
</head>
<body>
<div class="jumbotron">
	<div class="col-md-8">
		<h1>Simple app!</h1>
		<h2>Simple app. Это страница приветствия.</h2>
		<p>Вы еще не прошли процедуру регистрации. Нажмите на ссылку ниже.</p>
		<a href="register" >Регистрация</a>
	</div>
</div>
</body>
</html>